<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather API</title>
</head>
<body>
        <h1>Weather API</h1>
    
    <main>
        <form action="/weather" method="POST">
            <label for="pincode">Enter Pincode:</label>
            <input type="text" id="pincode" name="pincode" required>
            <button type="submit">Submit</button>
        </form>
    </main>
    
    <footer>    
        <p>&copy; 2023 Weather API. All rights reserved.</p>
    </footer>
</body>
</html>